doctype html
include ../chunks/mixin.pug
html(lang="ru").no-js
    head
        include ../chunks/head.pug
    block body
        .page-wrapper#page-wrapper
            include ../chunks/header-search.pug
            .page-body.inner-page#page-body
                include ../chunks/search.pug
            include ../chunks/footer.pug

    include ../chunks/scripts.pug
