section.jongert
    .container
        .banner-title.banner-title--xsmall.jongert__title.
            JONGERT
        .sub-title.jongert__sub-title.
            MADE IN HOLAND SINCE 1956
        .row
            .col-lg-5
                .text-dft-small.jongert__text.
                    Jongert is one of the world’s foremost yachtbuilders, specialised in semi-custom
                    and custom sailing and motoryachts built mainly in steel or aluminium
        .jongert__info.clearfix
            .jongert__item
                span.jongert__item-number.
                    325
                span.jongert__item-text.
                    yachts
            .jongert__item
                span.jongert__item-number.
                    63
                span.jongert__item-text.
                    years of work
            .jongert__item
                span.jongert__item-number.
                    44000
                span.jongert__item-text.
                    sq.m. production fscilities
            .jongert__item
                span.jongert__item-number.
                    20
                span.jongert__item-text.
                    awards


        a(href="#history-time").jongert__link.js-scroll.
            Scroll to explore
section.history-time#history-time
    .container.history-time__container
        .section-title.section-title--gold.
            Jongert history
        .history-time__time-line
            .row
                .col-md-4.col-md-offset-7.history-time__column
                    .history-time__item
                        .history-time__item-title.text-title.
                            Ahead of its time
                        .history-time__item-text
                            p.
                                The Jongert family started by building small motorboats and quickly saw demand grow for vessels that were technologically advanced for the time. The yard continued to build on its excellent reputation and in 1960 launched its first luxury motoryacht. This was followed up a year later with two classes of sailing yachts – the Zwalkers and the Trewes – created in partnership with marine engineering firm Van der Meer and yacht architect Willem de Vries Lentsch. It was these yachts that gave Jongert its definitive breakthrough as a pioneering yard with a global reputation.
                            .history-time__image
                                img(src="img/upload/time-line-1.jpg" alt="Ahead of its time image")
                    .history-time__item
                        .history-time__item-title.text-title.
                            Miracle makers
                        .history-time__item-text
                            p.
                                Further successes were achieved after Jongert started working with Herbert Dahm in 1969. It was at this time that our renowned slogan – ‘The impossible we can do today.
                            p.
                                Miracles may take a little while longer’ – first came to light. It still underlies today the Jongert yard’s commitment to offering ever greater comfort, enhanced privacy, more luxury and first-class technologies.
                    .history-time__item
                        .history-time__item-title.text-title.
                            Innovation
                        .history-time__item-text
                            p.
                                In the decades that followed, the yard continued to innovate both with its own design team and in partnership with leading architects and designers such as Doug Peterson, Tony Castro and André Hoek. The Jongert brand name became synonymous with superyachts of the highest quality.

                .history-time__current-year
                    span.
                        2017
        .row
            .col-xl-4.col-xl-offset-4.col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2
                .history-time__today-title.text-title.text-center.
                    JONGART TODAY
                .history-time__today-text
                    p.
                        A family-run yard for generations, today Jongert is part of the VeKa Group. This leading multinational maritime company is a guarantee of quality and sustainability.
                a(href="#").btn-rnd.btn-rnd--gold.
                    History in Details
section.principles
    .container
        .text-title.principles__title.
            Our principles of quality
        .text-dft-small.principles__text.
            Virtually all Jongert yachts are still sailing today, a proof of yacht building excellence
        .row
            .col-xl-8.col-xl-offset-2.col-md-10.col-md-offset-1.principles__slider-wrapper
                .principles__slider-head.clearfix
                    a(href="#" data-slider-target="0").principles__links.js-change-slide.active.
                        Craftsmanship
                    a(href="#" data-slider-target="1").principles__links.js-change-slide.
                        Performance
                    a(href="#" data-slider-target="2").principles__links.js-change-slide.
                        Reliability
                    a(href="#" data-slider-target="3").principles__links.js-change-slide.
                        Explore
                    a(href="#" data-slider-target="4").principles__links.js-change-slide.
                        Luxury
                    a(href="#" data-slider-target="5").principles__links.js-change-slide.
                        Safety
                    a(href="#" data-slider-target="6").principles__links.js-change-slide.
                        Comfort

                .principles__slider.js-principles-slider
                    .principles__slide-item.clearfix
                        .principles__slide-item-wrap.principles__slide-item-wrap--text
                            .principles__slide-item-title.
                                Craftsmanship
                            .principles__slide-item-text
                                p.
                                    Passion for perfection and dedication
                                    for yacht building is found in every
                                    craftsmen
                        .principles__slide-item-wrap.principles__slide-item-wrap--image
                            .principles__slide-item-image
                                img(src="img/upload/slider-1.jpg" alt="principles image")
                    .principles__slide-item.clearfix
                        .principles__slide-item-wrap.principles__slide-item-wrap--text
                            .principles__slide-item-title.
                                Performance
                            .principles__slide-item-text
                                p.
                                    Passion for perfection and dedication
                                    for yacht building is found in every
                                    craftsmen
                        .principles__slide-item-wrap.principles__slide-item-wrap--image
                            .principles__slide-item-image
                                img(src="img/upload/about-1.jpg" alt="principles image")
                    .principles__slide-item.clearfix
                        .principles__slide-item-wrap.principles__slide-item-wrap--text
                            .principles__slide-item-title.
                                Reliability
                            .principles__slide-item-text
                                p.
                                    Passion for perfection and dedication
                                    for yacht building is found in every
                                    craftsmen
                        .principles__slide-item-wrap.principles__slide-item-wrap--image
                            .principles__slide-item-image
                                img(src="img/upload/news-detail-2.jpg" alt="principles image")
                    .principles__slide-item.clearfix
                        .principles__slide-item-wrap.principles__slide-item-wrap--text
                            .principles__slide-item-title.
                                Eplore
                            .principles__slide-item-text
                                p.
                                    Passion for perfection and dedication
                                    for yacht building is found in every
                                    craftsmen
                        .principles__slide-item-wrap.principles__slide-item-wrap--image
                            .principles__slide-item-image
                                img(src="img/upload/slider-1.jpg" alt="principles image")
                    .principles__slide-item.clearfix
                        .principles__slide-item-wrap.principles__slide-item-wrap--text
                            .principles__slide-item-title.
                                Luxury
                            .principles__slide-item-text
                                p.
                                    Passion for perfection and dedication
                                    for yacht building is found in every
                                    craftsmen
                        .principles__slide-item-wrap.principles__slide-item-wrap--image
                            .principles__slide-item-image
                                img(src="img/upload/about-1.jpg" alt="principles image")
                    .principles__slide-item.clearfix
                        .principles__slide-item-wrap.principles__slide-item-wrap--text
                            .principles__slide-item-title.
                                Safety
                            .principles__slide-item-text
                                p.
                                    Passion for perfection and dedication
                                    for yacht building is found in every
                                    craftsmen
                        .principles__slide-item-wrap.principles__slide-item-wrap--image
                            .principles__slide-item-image
                                img(src="img/upload/news-detail-2.jpg" alt="principles image")
                    .principles__slide-item.clearfix
                        .principles__slide-item-wrap.principles__slide-item-wrap--text
                            .principles__slide-item-title.
                                Comfort
                            .principles__slide-item-text
                                p.
                                    Passion for perfection and dedication
                                    for yacht building is found in every
                                    craftsmen
                        .principles__slide-item-wrap.principles__slide-item-wrap--image
                            .principles__slide-item-image
                                img(src="img/upload/slider-1.jpg" alt="principles image")
                .arrangement__slider-arrows.principles__slider-arrows
                    a(href="#" data-slider="slickPrev").js-principles-slider-arrow.arrangement__slider-arrow.arrangement__slider-arrow--prev
                        +icon('left-arrow')
                    a(href="#" data-slider="slickNext").js-principles-slider-arrow.arrangement__slider-arrow.arrangement__slider-arrow--next
                        +icon('right-arrow')
section.our-shipyard
    .our-shipyard__wrapper
        .container
            .banner-title.banner-title--xsmall.our-shipyard__title.
                Our shipyard
            .our-shipyard__info.row
                .col-md-6.our-shipyard__img
                    img(src="img/upload/about-1.jpg" title="our shipyard" alt="our shipyard")
                .col-md-5
                    p.text-dft-small.our-shipyard__text The Jongert yard is located in the district of Wieringermeer, a polder reclaimed from the Zuiderzee in 1930. It is only a 50-minute drive north of Amsterdam Schiphol Airport and just 25 minutes from Den Helder Airport
                    p.text-dft-small.our-shipyard__text Opened in 2003 after years of careful development and fine-tuning, the location was chosen because of its position close to open water.
                    p.text-dft-small.our-shipyard__text A 3.5 km shipping lane links the yard to the existing waterway in the
                    a(href="#").btn-rnd.btn-rnd--white.
                        more about facilities

section.latest-news
    .container
        .banner-title.banner-title--xsmall.latest-news__title.
            News and events
        .row
            .col-md-4.latest-news__item
                a(href="#").latest-news__image-wrap.news-link
                    img(src="img/upload/news-1.jpg" title="news" alt="news image").latest-news__image
                    span.latest-news__news-type.
                        news
                .latest-news__date.
                    June, 25, 2016
                a(href="#").latest-news__preview.
                    Successful Jongert Mallorca inauguration during Superyacht Cup
            .col-md-4.latest-news__item
                a(href="#").latest-news__image-wrap.videos
                    img(src="img/upload/news-2.jpg" title="news" alt="news image").latest-news__image
                    span.latest-news__news-type.
                        videos
                    span.latest-news__icon
                .latest-news__date.
                    June, 25, 2016
                a(href="#").latest-news__preview.
                    Tommy: 18 meters of distinctive Jongert Motor Yacht craftsmanship
            .col-md-4.latest-news__item
                a(href="#").latest-news__image-wrap.events
                    img(src="img/upload/news-3.jpg" title="news" alt="news image").latest-news__image
                    span.latest-news__news-type.
                        events
                    span.latest-news__events-info.
                        This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.
                    span.latest-news__events-format.
                        PDF

                .latest-news__date.
                    June, 25, 2016
                a(href="#").latest-news__preview.
                    Tommy: 18 meters of distinctive Jongert Motor Yacht craftsmanship
        a(href="#").btn-rnd.btn-rnd--gold.
            more news
