section.contact-head
    .container
        h1.banner-title.banner-title--xsmall.banner-title--gold.contact-head__title Contact
        .row.contact-head__info-row
            .col-md-6.contact-head__info-main-wrapper.js-height
                .contact-head__info-wrapper
                    .contact-head__company-name.text-title.
                        Jongert Shipyard
                    .contact-head__company-info
                        a(href="#").contact-head__show-map
                            +icon('map-icon')
                            span.
                                show map
                        .contact-head__company-adress
                            span
                                b The Netherlands
                            span Kluisgat 1
                            span 1771 MV Wieringerwerf
                    .contact-head__company-info
                        .contact-head__contacts
                            span Phone:
                            a(href="#") +31(0) 227 549 400
                        .contact-head__contacts
                            span Email:
                            a(href="#") sales@jongert.com
                        a(href="#").contact-head__btn.btn-rnd.btn-rnd--goold.
                            send a message
            .col-md-6.contact-head__image-wrapper.js-height
                img(src="img/upload/contact-1.jpg" title="contact" alt="contact")

section.contact-us
    .container
        h2.contact-us__title Contact us
        .text-dft-small.contact-us__text
            span.
                E-mail:
            a(href="#").
                info@jongert.com
        .text-dft-small.contact-us__text
            span.
                Phohe:
            a(href="#").
                +31 (0) 227 549 400

        .contact-us-form
            form.js-contact-form
                .row.contact-us-form__row.contact-us-form__top-row
                    .col-xl-2.col-lg-4.col-md-4
                        .contact-us-form__message-text Send a message to
                    .col-xl-2.col-lg-4.col-md-4.contact-us-form__service-wrap
                        select.custom-select.contact-us-form__service(name='sources', placeholder='jongert service')
                            option(value='jongert service 1') jongert service 1
                            option(value='jongert service 2') jongert service 2
                            option(value='jongert service 3') jongert service 3
                            option(value='jongert service 4') jongert service 4
                .row.contact-us-form__row
                    .col-xl-4.col-lg-8.col-md-8
                        input(type="text" placeholder="Name" name="name").input-dft.gold
                .row.contact-us-form__row
                    .col-xl-4.col-lg-8.col-md-8
                        input(type="text" placeholder="Phone number" name="phone").input-dft.gold
                .row.contact-us-form__row
                    .col-xl-4.col-lg-8.col-md-8
                        input(type="text" placeholder="E-mail" name="email").input-dft.gold
                .row.contact-us-form__row
                    .col-xl-4.col-lg-8.col-md-8
                        input(type="text" placeholder="Describe your problem" name="text").input-dft.gold
                button.contact-us-form__submit.btn-rnd.btn-rnd--gold(type='submit') Send
