.back-link
    .container
        a(href="#").back-link__link
            +icon ('arrow-back')
            | about


.facilities
    .container
        .facilities__title.section-title.
            Facilities
        .row
            .facilities__item.clearfix
                a(href="https://www.youtube.com/watch?v=ivPYU4htmxU?fs=1&amp;amp;autoplay=1").col-md-6.facilities__image-wrap.facilities__image-wrap--video.js-height.js-show-pop-up-video
                    .facilities__image-inner-wrapper
                        img(src="img/upload/facilities-1.jpg").facilities__image
                        .facilities__image-ie-fallback(style="background:url(img/upload/facilities-1.jpg) center center;background-size:cover;")
                .facilities__text-wrapper.col-md-6.js-height
                    a(href="#").facilities__link-title.text-title.text-title.
                        First class facilities
                    .facilities__text.text-dft-small.
                        Located on a site of 44,000 square metres, the Jongert yard consists of three state-of-the-art construction halls, each of which is 60 metres long and can be extended to 100 metres should future needs dictate. All three halls are equipped with two cranes, capable of hoisting a weight of ten tons.
            .facilities__item.clearfix
                a(href="#").col-md-6.facilities__image-wrap.js-height
                    .facilities__image-inner-wrapper
                        img(src="img/upload/facilities-2.jpg").facilities__image
                        .facilities__image-ie-fallback(style="background:url(img/upload/facilities-2.jpg) center center;background-size:cover;")
                .facilities__text-wrapper.col-md-6.js-height
                    a(href="#").facilities__link-title.text-title.text-title.
                        Support
                    .facilities__text.text-dft-small.
                        Adjacent to each main constriction area are three stories of dedicated support facilities. The bottom floor is devoted to metalwork and stainless steel, the second to prefabrication of the interior, and the top floor to painting and varnishing. Giant lifts descend to the two levels in the hall, allowing prefabricated interior sections to be placed onto the boat.
            .facilities__item.clearfix
                a(href="#").col-md-6.facilities__image-wrap.js-height
                    .facilities__image-inner-wrapper
                        img(src="img/upload/facilities-3.jpg").facilities__image
                        .facilities__image-ie-fallback(style="background:url(img/upload/facilities-3.jpg) center center;background-size:cover;")
                .facilities__text-wrapper.col-md-6.js-height
                    a(href="#").facilities__link-title.text-title.text-title.
                        Hands-on experience
                    .facilities__text.text-dft-small.
                        The multi-functional floors were designed by the staff with a dual purpose: To guarantee a clean, dust-free and ‘flush deck’ surface, while also optimising logistics. The sophisticated layout of this entire complex is a tribute to the decades of hands-on experience of those who work here.

            .facilities__item.clearfix
                a(href="#").col-md-6.facilities__image-wrap.js-height
                    .facilities__image-inner-wrapper
                        img(src="img/upload/facilities-4.jpg").facilities__image
                        .facilities__image-ie-fallback(style="background:url(img/upload/facilities-4.jpg) center center;background-size:cover;")
                .facilities__text-wrapper.col-md-6.js-height
                    a(href="#").facilities__link-title.text-title.text-title.
                        Eco-friendly
                    .facilities__text.text-dft-small.
                        Under-floor heating is provided via circulated water, heated by biogas generated from Jongert’s unique fermentation plant. This is just one of many ways that green issues were taken into account in the creation of the new yard. Since 2007, all power comes from our plant in an anaerobic and fully gas-tight process. Environmental benefits include a reduction in CO2 emissions and significantly less odour and noise.
section.invitation.section-dft
    .container
        .section-title.invitation__title.
            Our invitation
        .row
            .text-dft-small.col-md-6.invitation__text.
                Clients and brokers are cordially invited to visit the yard to see these facilities for themselves and watch our people at work. It would be a great time for us to discuss new plans and ideas.
        a(href="#").btn-rnd.
            contact
section.latest-news
    .container
        .banner-title.banner-title--xsmall.latest-news__title.
            Latest news
        .row
            .col-md-4.latest-news__item
                a(href="#").latest-news__image-wrap.news-link
                    img(src="img/upload/news-1.jpg" title="news" alt="news image").latest-news__image
                    span.latest-news__news-type.
                        news
                .latest-news__date.
                    June, 25, 2016
                a(href="#").latest-news__preview.
                    Successful Jongert Mallorca inauguration during Superyacht Cup
            .col-md-4.latest-news__item

                a(href="#").latest-news__image-wrap.videos
                    img(src="img/upload/news-2.jpg" title="news" alt="news image").latest-news__image
                    span.latest-news__news-type.
                        videos
                    span.latest-news__icon
                .latest-news__date.
                    June, 25, 2016
                a(href="#").latest-news__preview.
                    Tommy: 18 meters of distinctive Jongert Motor Yacht craftsmanship
            .col-md-4.latest-news__item
                a(href="#").latest-news__image-wrap.events
                    img(src="img/upload/news-3.jpg" title="news" alt="news image").latest-news__image
                    span.latest-news__news-type.
                        events
                    span.latest-news__events-info.
                        This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.
                    span.latest-news__events-format.
                        PDF

                .latest-news__date.
                    June, 25, 2016
                a(href="#").latest-news__preview.
                    Tommy: 18 meters of distinctive Jongert Motor Yacht craftsmanship
        a(href="#").btn-rnd.btn-rnd--gold.
            more news
