.back-link
    .container
        a(href="#").back-link__link.back-link__link--gold
            +icon ('arrow-back')
            | about
section.history
    .container.history__container
        .section-title.history__title.
            Jongert history
        .history__time-line.clearfix
            .row
                .history__item.col-md-5.col-md-offset-7
                    .history__item-images
                        .history__item-image-wrapper.clearfix
                            img(src="img/upload/history-3.jpg").history__item-img
                            img(src="img/upload/history-2.jpg").history__item-img
                    .history__item-year
                        span.
                            1953
                    .history__item-text-wrapper
                        .history__item-title.text-title.
                            Where it all started
                        .history__item-text
                            p.
                                Jan Jongert senior founds his business in Opperdoes on his birthday, the 11th of November, by opening a workshop. The company was partially funded with prize money that Mr Jan Jongert won as professional speed skater. He started manufacturing farmers' boats and small motor boats.
                .history__item.col-md-5.col-md-offset-7
                    .history__item-images
                        .history__item-image-wrapper.clearfix
                            img(src="img/upload/history-5.jpg").history__item-img
                            img(src="img/upload/history-4.jpg").history__item-img
                    .history__item-year
                        span.
                            1960
                    .history__item-text-wrapper
                        .history__item-title.text-title.
                            Moving towards
                            Medemblik
                        .history__item-text
                            p.
                                In Medemblik  Jongert made its definitive break-through establishing itself as a pioneering and prominent boatyard. The yard designed two classes of sailing yachts – the Zwalkers and the Trewes – in partnership with marine engineering firm Van der Meer and yacht architect Willem de Vries Lentsch.
                .history__item.col-md-5.col-md-offset-7
                    .history__item-images
                        .history__item-image-wrapper.clearfix
                            img(src="img/upload/history-7.jpg").history__item-img
                            img(src="img/upload/history-6.jpg").history__item-img
                            img(src="img/upload/history-8.jpg").history__item-img
                    .history__item-year
                        span.
                            2010<br>2011
                    .history__item-text-wrapper
                        .history__item-title.text-title.
                            Launch of Uisge Beatha, Success for Lucia-M
                        .history__item-text
                            p.
                                With new ownership Jongert launches the 2400M Uisge Beatha. Equiped with all latest technologies and designed to be sailed by just a few. Without the help of an extended crew Uisge Beatha offers all you need and more to cruise in comfort. In 2011 the 3900MY Lucia-M receives international attention with a nomination for the ISS Superyacht design award.
    .container
        .news-share.text-center
            .follow-us.news-pagination__share.clearfix
                .follow-us__title.sub-title.
                    Share in socials
                .follow-us__icons-wrap.clearfix
                    a(href="#").follow-us__social-link
                        +icon ('facebook')
                    a(href="#").follow-us__social-link
                        +icon ('tweater')
                    a(href="#").follow-us__social-link
                        +icon ('linkedin')
section.latest-news
    .container
        .banner-title.banner-title--xsmall.latest-news__title.
            Latest news
        .row
            .col-md-4.latest-news__item
                a(href="#").latest-news__image-wrap.news-link
                    img(src="img/upload/news-1.jpg" title="news" alt="news image").latest-news__image
                    span.latest-news__news-type.
                        news
                .latest-news__date.
                    June, 25, 2016
                a(href="#").latest-news__preview.
                    Successful Jongert Mallorca inauguration during Superyacht Cup
            .col-md-4.latest-news__item
                a(href="#").latest-news__image-wrap.videos
                    img(src="img/upload/news-2.jpg" title="news" alt="news image").latest-news__image
                    span.latest-news__news-type.
                        videos
                    span.latest-news__icon
                .latest-news__date.
                    June, 25, 2016
                a(href="#").latest-news__preview.
                    Tommy: 18 meters of distinctive Jongert Motor Yacht craftsmanship
            .col-md-4.latest-news__item
                a(href="#").latest-news__image-wrap.events
                    img(src="img/upload/news-3.jpg" title="news" alt="news image").latest-news__image
                    span.latest-news__news-type.
                        events
                    span.latest-news__events-info.
                        This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.
                    span.latest-news__events-format.
                        PDF

                .latest-news__date.
                    June, 25, 2016
                a(href="#").latest-news__preview.
                    Tommy: 18 meters of distinctive Jongert Motor Yacht craftsmanship
        a(href="#").btn-rnd.btn-rnd--gold.
            more news
