section.main-head
    .main-head__top(style="background: url('img/upload/main-1.jpg') no-repeat center center;background-size: cover;")
        .container
            .main-head__wrapper-title
                .banner-title.main-head__title
                    span.
                        Renown. <br>
                        Respected. <br>
                        Enjoyed. <br>
                .banner-title.main-head__title-gradient
                    span.
                        Renown. <br>
                        Respected. <br>
                        Enjoyed. <br>
            .main-head__sub-title.text-dft.
                Jongert super yachts, both sail and motor, range among the very best in the world. <br>
                A Jongert does not easily go unnoticed.
    .main-head__center(style="background: url('img/upload/main-2.jpg') no-repeat center center;background-size: cover;")
        .container
            .row
                .col-md-8.col-md-offset-4.col-lg-6.col-lg-offset-6
                    .banner-title.banner-title--small.main-head__center-title
                        span.
                            Sailing
                        span.
                            Yachts
                    .main-head__center-text-wrapper
                        .main-head__center-text.
                            Our core business, building state of the art sailing <br>
                            yachts that offer the world's finest comfort, quality and <br>
                            performance levels.
                        .main-head__center-links-wrap.clearfix
                            a(href="#").main-head__center-link.
                                Performance
                            a(href="#").main-head__center-link.
                                Cruisials
                            a(href="#").main-head__center-link.
                                Traditional
                            a(href="#").main-head__center-link.
                                Specials
                        a(href="#").btn-rnd.btn-rnd--white.
                            read more
    .main-head__bottom(style="background: url('img/upload/main-3.jpg') no-repeat center center;background-size: cover;")
        .container
            .row
                .col-lg-6.col-md-9
                    .banner-title.banner-title--small.main-head__center-title.main-head__center-title--bottom
                        span.
                            motor
                        span.
                            Yachts
                    .main-head__bottom-text-wrapper
                        .main-head__center-text.main-head__center-text--blue.
                            Our core business, building state of the art sailing <br>
                            yachts that offer the world's finest comfort, quality and <br>
                            performance levels.
                        .main-head__center-links-wrap.clearfix
                            a(href="#").main-head__center-link.main-head__center-link--bottom.
                                Performance
                            a(href="#").main-head__center-link.main-head__center-link--bottom.
                                Cruisials
                            a(href="#").main-head__center-link.main-head__center-link--bottom.
                                Traditional
                        a(href="#").btn-rnd.btn-rnd--blue.
                            read more
section.main-about
    .container
        .banner-title.banner-title--xsmall.main-about__title.
            About JONGERT
        .main-about__info.clearfix
            .main-about__item
                span.main-about__item-number.
                    325
                span.main-about__item-text.
                    yachts
            .main-about__item
                span.main-about__item-number.
                    63
                span.main-about__item-text.
                    years of work
            .main-about__item
                span.main-about__item-number.
                    44000
                span.main-about__item-text.
                    sq.m. production fscilities
            .main-about__item
                span.main-about__item-number.
                    20
                span.main-about__item-text.
                    awards
        .text-dft-small.main-about__text.
            Our core business, building state of the art sailing yachts <br>
            that offer the world's finest comfort, quality and performance levels.

        a(href="#").btn-rnd.btn-rnd--gold.
            Details

section.latest-news
    .container
        .banner-title.banner-title--xsmall.latest-news__title.
            Latest news
        .row
            .col-md-4.latest-news__item
                a(href="#").latest-news__image-wrap.news-link.news
                    img(src="img/upload/news-1.jpg" title="news" alt="news image").latest-news__image
                    span.latest-news__news-type.
                        news
                .latest-news__date.
                    June, 25, 2016
                a(href="#").latest-news__preview.
                    Successful Jongert Mallorca inauguration during Superyacht Cup
            .col-md-4.latest-news__item
                a(href="#").latest-news__image-wrap.videos
                    img(src="img/upload/news-2.jpg" title="news" alt="news image").latest-news__image
                    span.latest-news__news-type.
                        videos
                    span.latest-news__icon
                .latest-news__date.
                    June, 25, 2016
                a(href="#").latest-news__preview.
                    Tommy: 18 meters of distinctive Jongert Motor Yacht craftsmanship
            .col-md-4.latest-news__item
                a(href="#").latest-news__image-wrap.events
                    img(src="img/upload/news-3.jpg" title="news" alt="news image").latest-news__image
                    span.latest-news__news-type.
                        events
                    span.latest-news__events-info.
                        This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.
                    span.latest-news__events-format.
                        PDF

                .latest-news__date.
                    June, 25, 2016
                a(href="#").latest-news__preview.
                    Tommy: 18 meters of distinctive Jongert Motor Yacht craftsmanship
        a(href="#").btn-rnd.btn-rnd--gold.
            more news
