section.jongert
    .container
        .banner-title.banner-title--xsmall.jongert__title.
            JONGERT
        .text-dft-small.jongert__text.
            Our core business, building state of the art sailing yachts <br>
            that offer the world's finest comfort, quality and performance levels.
        .jongert__info.clearfi
            .jongert__item
                span.jongert__item-number.
                    325
                span.jongert__item-text.
                    yachts
            .jongert__item
                span.jongert__item-number.
                    63
                span.jongert__item-text.
                    years of work
            .jongert__item
                span.jongert__item-number.
                    44000
                span.jongert__item-text.
                    sq.m. production fscilities
            .jongert__item
                span.jongert__item-number.
                    20
                span.jongert__item-text.
                    awards


        a(href="#").btn-rnd.jongert__btn.
            Scroll to explore