section.timeline-histoty.section-dft
    .container
        .section-title.timeline-histoty__title Jongert history
        .timeline-histoty__inner
            .row
                .timeline-histoty__wrap-item.clearfix
                    .timeline-histoty__photos.col-md-4
                        .timeline-histoty__photos-inner
                            img(src="img/upload/history-2.jpg" title="history" alt="history")
                            img(src="img/upload/history-3.jpg" title="history" alt="history")
                    .timeline-histoty__content.col-md-4
                        .timeline-histoty__name.
                            Where it all started
                        .text-dft.text-dft-small.timeline-histoty__text.
                            Jan Jongert senior founds his business in Opperdoes on his birthday, the 11th of November, by opening a workshop. The company was partially funded with prize money that Mr Jan Jongert won as professional speed skater. He started manufacturing farmers' boats and small motor boats.
                    .timeline-histoty__year
                        span.
                            1953
                .timeline-histoty__wrap-item.clearfix
                    .timeline-histoty__photos.col-md-4
                        .timeline-histoty__photos-inner
                            img(src="img/upload/history-4.jpg" title="history" alt="history")
                            img(src="img/upload/history-5.jpg" title="history" alt="history")
                    .timeline-histoty__content.col-md-4
                        .timeline-histoty__name.
                            Moving towards Medemblik
                        .text-dft.text-dft-small.timeline-histoty__text.
                            In Medemblik  Jongert made its definitive break-through establishing itself as a pioneering and prominent boatyard. The yard designed two classes of sailing yachts – the Zwalkers and the Trewes – in partnership with marine engineering firm Van der Meer and yacht architect Willem de Vries Lentsch. 
                    .timeline-histoty__year
                        span.
                            1960
                .timeline-histoty__wrap-item.clearfix
                    .timeline-histoty__photos.col-md-4
                        .timeline-histoty__photos-inner
                            img(src="img/upload/history-6.jpg" title="history" alt="history")
                            img(src="img/upload/history-7.jpg" title="history" alt="history")
                    .timeline-histoty__content.col-md-4
                        .timeline-histoty__name.
                            Launch of Uisge Beatha, Success for Lucia-M
                        .text-dft.text-dft-small.timeline-histoty__text.
                            With new ownership Jongert launches the 2400M Uisge Beatha. Equiped with all latest technologies and designed to be sailed by just a few. Without the help of an extended crew Uisge Beatha offers all you need and more to cruise in comfort. In 2011 the 3900MY Lucia-M receives international attention with a nomination for the ISS Superyacht design award.
                    .timeline-histoty__year
                        span.
                            2010 2011
    include ./share-in-socials.pug