section.history-about
    .container
        h2.history-about--title Jongert history
        
        .history-about-timeline
            .row
                .col-md-4.col-md-offset-1
                    .history-about-timeline__item
                        h3.text-right.history-about-item--title Ahead of its time

                    .history-about-timeline__item.history-about-timeline__item--mobile
                        .history-about-item--text.
                            The Jongert family started by building small motorboats and quickly saw demand grow for vessels that were technologically advanced for the time. The yard continued to build on its excellent reputation and in 1960 launched its first luxury motoryacht. This was followed up a year later with two classes of sailing yachts – the Zwalkers and the Trewes – created in partnership with marine engineering firm Van der Meer and yacht architect Willem de Vries Lentsch. It was these yachts that gave Jongert its definitive breakthrough as a pioneering yard with a global reputation.
                    .history-about-timeline__item
                            .history-about-item--img
                                img(src="img/upload/history-1.jpg" title="history" alt="Miracle makers")
                    .history-about-timeline__item.history-about-timeline__item--mobile
                        h3.history-about-item--title Miracle makers

                        .history-about-item--text.
                            Further successes were achieved after Jongert started working 
                            with Herbert Dahm in 1969. It was at this time that our 
                            renowned slogan – ‘The impossible we can do today.
                        .history-about-item--text.
                            Miracles may take a little while longer’ – first came to light.
                                It still underlies today the Jongert yard’s commitment to 
                                offering ever greater comfort, enhanced privacy, more luxury and first-class technologies.
                    .history-about-timeline__item
                        h3.text-right.history-about-item--title Innovation
                    .history-about-timeline__item.history-about-timeline__item--mobile
                        .history-about-item--text.
                            In the decades that followed, the yard continued to innovate 
                            both with its own design team and in partnership with leading 
                            architects and designers such as Doug Peterson, Tony Castro
                            and André Hoek. The Jongert brand name became synonymous 
                            with superyachts of the highest quality.

                .col-md-4.col-md-offset-2
                    .history-about-timeline__item.history-about-timeline__item--mobile-hide
                        .history-about-item--text.
                            The Jongert family started by building small motorboats and quickly saw demand grow for vessels that were technologically advanced for the time. The yard continued to build on its excellent reputation and in 1960 launched its first luxury motoryacht. This was followed up a year later with two classes of sailing yachts – the Zwalkers and the Trewes – created in partnership with marine engineering firm Van der Meer and yacht architect Willem de Vries Lentsch. It was these yachts that gave Jongert its definitive breakthrough as a pioneering yard with a global reputation.
                    .history-about-timeline__item.history-about-timeline__item--mobile-hide
                        h3.history-about-item--title Miracle makers

                        .history-about-item--text.
                            Further successes were achieved after Jongert started working 
                            with Herbert Dahm in 1969. It was at this time that our 
                            renowned slogan – ‘The impossible we can do today.
                        .history-about-item--text.
                            Miracles may take a little while longer’ – first came to light.
                                It still underlies today the Jongert yard’s commitment to 
                                offering ever greater comfort, enhanced privacy, more luxury and first-class technologies.
                    .history-about-timeline__item.history-about-timeline__item--mobile-hide
                        .history-about-item--text.
                            In the decades that followed, the yard continued to innovate 
                            both with its own design team and in partnership with leading 
                            architects and designers such as Doug Peterson, Tony Castro
                            and André Hoek. The Jongert brand name became synonymous 
                            with superyachts of the highest quality.