section.news
    .container
        .news__title.section-title.
            The News
        ul.news__list.clearfix
            - var links = ["news", "Press clippings", "video","events"];
            for link in links
                li.detail-links__item
                    a(href="#").detail-links__link= link
    .container
        .latest-wrapper
            .row
                a(href="#").col-lg-6.latest-wrapper__image-link
                    span.latest-wrapper__image-wrap
                        img(src="img/upload/facilities-1.jpg" alt="latest news image").latest-wrapper__image
                .col-lg-6
                    .latest-wrapper__preview
                        .latest-wrapper__type.text-dft-small.
                            The Latest
                        a(href="#").latest-wrapper__title.text-title.
                            Tommy: 18 meters of distinctive Jongert Motor Yacht craftsmanship
                        .latest-wrapper__date.sub-title.
                            December  25, 2016
                        a(href="#").btn-rnd.
                            details
section.latest-news
    .container
        .row
            .col-md-4.latest-news__item
                a(href="#").latest-news__image-wrap.news-link.news
                    img(src="img/upload/news-1.jpg" title="news" alt="news image").latest-news__image
                .latest-news__date.
                    June, 25, 2016
                a(href="#").latest-news__preview.
                    Successful Jongert Mallorca inauguration during Superyacht Cup
            .col-md-4.latest-news__item
                a(href="#").latest-news__image-wrap.news-link.news
                    img(src="img/upload/news-2.jpg" title="news" alt="news image").latest-news__image
                .latest-news__date.
                    June, 25, 2016
                a(href="#").latest-news__preview.
                    Tommy: 18 meters of distinctive Jongert Motor Yacht craftsmanship
            .col-md-4.latest-news__item
                a(href="#").latest-news__image-wrap.news-link.news
                    img(src="img/upload/news-3.jpg" title="news" alt="news image").latest-news__image
                .latest-news__date.
                    June, 25, 2016
                a(href="#").latest-news__preview.
                    Tommy: 18 meters of distinctive Jongert Motor Yacht craftsmanship
            .col-md-4.latest-news__item
                a(href="#").latest-news__image-wrap.news-link.news
                    img(src="img/upload/news-1.jpg" title="news" alt="news image").latest-news__image
                .latest-news__date.
                    June, 25, 2016
                a(href="#").latest-news__preview.
                    Successful Jongert Mallorca inauguration during Superyacht Cup
            .col-md-4.latest-news__item
                a(href="#").latest-news__image-wrap.news-link.news
                    img(src="img/upload/news-2.jpg" title="news" alt="news image").latest-news__image
                .latest-news__date.
                    June, 25, 2016
                a(href="#").latest-news__preview.
                    Tommy: 18 meters of distinctive Jongert Motor Yacht craftsmanship
            .col-md-4.latest-news__item
                a(href="#").latest-news__image-wrap.news-link.news
                    img(src="img/upload/news-3.jpg" title="news" alt="news image").latest-news__image
                .latest-news__date.
                    June, 25, 2016
                a(href="#").latest-news__preview.
                    Tommy: 18 meters of distinctive Jongert Motor Yacht craftsmanship
        a(href="#").btn-rnd.btn-rnd--gold.
            more news
        .follow-us.clearfix
            .follow-us__title.sub-title.
                Follow us in socials to be aware of all news
            .follow-us__icons-wrap.clearfix
                a(href="#").follow-us__social-link
                    +icon ('facebook')
                a(href="#").follow-us__social-link
                    +icon ('tweater')
                a(href="#").follow-us__social-link
                    +icon ('linkedin')
                a(href="#").follow-us__social-link
                    +icon ('youtube')
