.back-link
    .container
        a(href="#").back-link__link
            +icon ('arrow-back')
            | about
.news-detail
    .container
        .row
            .col-xl-6.col-lg-9
                .news-detail__title.text-title.
                    Successful Jongert Mallorca inauguration during
                    Superyacht Cup
        .news-detail__date.sub-title.
            December  25, 2016
    .container
        .news-detail__body
            img(src="img/upload/news-detail-1.jpg").news-detail__image
            .news-detail__text.col-md-10.col-md-offset-1
                p
                    Jongert looks back at a very successful Superyacht Cup in Palma. From the 19th until the 22nd of June. The sunshine and steady afternoon breeze made for perfect sailing conditions for the 15 yachts strong superyacht fleet.
                p
                    Jongert teamed up as silver sponsor of the event, in our booth at the event site we presented the latest developments with regard to our next regatta candidate: the 3200P. The construction of this performance oriented sailing yacht has just started and more information will be announced shortly.

            .news-detail__photos-wrap
                .row
                    .col-md-8
                        .news-detail__left-photo
                            img(src="img/upload/news-detail-2.jpg").news-detail__inner-photo
                    .col-md-4
                        .news-detail__right-photo
                            img(src="img/upload/news-detail-3.jpg").news-detail__inner-photo
                        .news-detail__right-photo
                            img(src="img/upload/news-detail-4.jpg").news-detail__inner-photo
            .news-detail__text.col-md-10.col-md-offset-1
                p
                    For Jongert, the Friday evening was the highlight of the event. After a good race of the Scorpione dei Mari, Jongert had organized a special gathering with sparkling cocktails, live music, typical Dutch snacks and the highly popular Dutch Herring to celebrate the opening of the Jongert Mallorca office in Palma. During the evening Jongert also partnered with the crew of Scorpione dei Mari to organize the unique ‘Boat Blow competition’ which resulted in an exciting rivalry between the crews of the superyacht cup participants.<br>
                    Eventually the crew of ‘Tulip’ won the competition and was awarded with prizes.
                p
                    The evening was a success, and so was the entire event. We would like to thank all our guests, all visitors to our booth, and the organization of the Superyacht Cup for organizing such a great event. We enjoy the growing number of people wearing Jongert polo t-shirts in Palma and look forward for <br>
                    the next event to come.
            .news-detail__photos-wrap
                .row
                    .col-md-6
                        .news-detail__half-photo
                            img(src="img/upload/news-detail-5.jpg").news-detail__inner-photo
                    .col-md-6
                        .news-detail__half-photo
                            img(src="img/upload/news-detail-6.jpg").news-detail__inner-photo
                a(href="https://www.youtube.com/watch?v=ivPYU4htmxU?fs=1&amp;amp;autoplay=1").news-detail__link-photo.js-show-pop-up-video
                    img(src="img/upload/news-detail-7.jpg")
.news-pagination
    .container
        .row
            .news-pagination__btn.news-pagination__btn--prev.col-md-3.col-sm-6.col-xs-6
                a(href="#").news-pagination__btn-link
                    +icon ('arrow-back')
                    | Previous
                    span.news-pagination__text.text-dft-small.
                        New refit project <br>
                        at Jongert shipyard
            .news-pagination__btn.news-pagination__btn--next.col-md-3.col-sm-6.col-xs-6
                a(href="#").news-pagination__btn-link
                    | Next
                    +icon ('arrow-next')
                    span.news-pagination__text.text-dft-small.
                        Tommy: 18 meters of distinctive Jongert Motor Yacht craftsmanship
            .news-share.col-md-6.text-center
                .follow-us.news-pagination__share.clearfix
                    .follow-us__title.sub-title.
                        Share in socials
                    .follow-us__icons-wrap.clearfix
                        a(href="#").follow-us__social-link
                            +icon ('facebook')
                        a(href="#").follow-us__social-link
                            +icon ('tweater')
                        a(href="#").follow-us__social-link
                            +icon ('linkedin')
