.container
    h1 Our principles of quality
    p Virtually all Jongert yachts are still sailing today, a proof of yacht building excellence

    .slider-wrap
        .slider
            div(data-thumb='Craftsmanship ')
                .row
                    .col-md-8.col-md-offset-2
                        .row
                            .col-md-6.
                                Craftsmanship

                                Passion for perfection and dedication 
                                for yacht building is found in every 
                                craftsmen
                            .col-md-6
                                img(src="img/upload/about-2.jpg" title="" alt="")
            div(data-thumb='Performance')
                .row
                    .col-md-8.col-md-offset-2
                        .row
                            .col-md-6.
                                Craftsmanship

                                Passion for perfection and dedication 
                                for yacht building is found in every 
                                craftsmen
                            .col-md-6
                                img(src="img/upload/about-2.jpg" title="" alt="")
            div(data-thumb='Reliability')
                .row
                    .col-md-8.col-md-offset-2
                        .row
                            .col-md-6.
                                Craftsmanship

                                Passion for perfection and dedication 
                                for yacht building is found in every 
                                craftsmen
                            .col-md-6
                                img(src="img/upload/about-2.jpg" title="" alt="")
                                