section.our-shipyard
    .container
        .banner-title.banner-title--xsmall.our-shipyard__title.
            Our shipyard
        .our-shipyard__info.row
            .col-md-5
                p.text-dft-small.our-shipyard__text The Jongert yard is located in the district of Wieringermeer, a polder reclaimed from the Zuiderzee in 1930. It is only a 50-minute drive north of Amsterdam Schiphol Airport and just 25 minutes from Den Helder Airport
                p.text-dft-small.our-shipyard__text Opened in 2003 after years of careful development and fine-tuning, the location was chosen because of its position close to open water.
                p.text-dft-small.our-shipyard__text A 3.5 km shipping lane links the yard to the existing waterway in the
                a(href="#").btn-rnd.btn-rnd--white.
                    more about facilities
            .col-md-6.col-md-offset-1
                img(src="img/upload/about-1.jpg" title="our shipyard" alt="our shipyard").our-shipyard__img