section.refit
    .container
        .refit__title.section-title.
            refit
        .refit__body
            .refit__right-wrap
                .refit__right-name.refit__right-name--top.text-title.
                    DESIGN
                img(src="img/upload/refit-1.jpg")
            .refit__right-wrap
                .refit__right-name.refit__right-name--center.text-title.
                    INTERIOR
                img(src="img/upload/refit-2.jpg")
            .refit__right-wrap
                .refit__right-name.refit__right-name--top.text-title.
                    ENGINEERING
                img(src="img/upload/refit-3.jpg")
            .refit__right-wrap
                .refit__right-name.refit__right-name--bottom.text-title.
                    PAINTWORK
                img(src="img/upload/refit-4.jpg")
            .refit__right-wrap
                .refit__right-name.refit__right-name--center.text-title.
                    SYSTEM UPDATES
            .refit__right-wrap
                .refit__right-name.refit__right-name--bottom.text-title.
                    EXTERIOR
                img(src="img/upload/refit-5.jpg")
            .refit__right-wrap
                .refit__right-name.refit__right-name--bottom.text-title.
                    STEEL <br>
                    & ALUMINIUM
                img(src="img/upload/refit-6.jpg")
            .refit__right-wrap
                .refit__right-name.refit__right-name--center.text-title.
                    AUDIOVISUAL
            .refit__right-wrap
                .refit__right-name.refit__right-name--bottom.text-title.
                    ELECTRICAL
                img(src="img/upload/refit-7.jpg")
            .refit__text-wrapper
                .refit__sub-title.sub-title.
                    WE BREATHE NEW LIFE INTO YOUR YACHT
                p.
                    Many yacht owners and crew have already experienced the high quality standards and service of a Jongert refit. They have seen their prized possession leave the yard in 'as new condition', fitted with the latest technologies and even more advanced than at the time of the original build. Yachts from other quality brands can also make use of Jongert’s refit services.
                p.
                    The engineering and design team as well as the entire workforce of highly skilled craftsmen are at your disposal to find the best possible solution for any project. The speed with which Jongert can carry out a refit, plus the office and accommodation facilities for crewmembers, offer further synergies.
                p.
                    As the works are carried out inside the heated facilities, premium quality is insured
                    at all times without any interference from the weather. Yachts are positioned on specially
                    designed cradles, eliminating any risk of damage.
    .container
        .contact-us-refit
            .row
                .col-xl-9

                    .sub-title.contact-us-refit__title.
                        Investing in your safety and comfort has never made more business sense.
                    .text-dft-small.contact-us-refit__text.
                        Your yacht will leave the yard with a 12-month warranty on the refit and an increased resale value.
                        She will also benefit from the latest technologies and a renewed Jongert seal of approval.
                    a(href="#").btn-rnd.contact-us-refit__btn.
                        Contact us


section.refited-yachts
    .container
        .section-title.refited-yachts__title.
            Refited yachts
        .row
            .col-lg-9
                .text-dft-small.refited-yachts__text.
                    Jongert yachts such as Passe Partout (42T), Lady Sunshine (34C), Impression (26T), Flying Magic (2900S), Azzura (3000M), Celandine (2900M), Ameena (2900M) and Vivid (2700M) have visited the yard in Wieringerwerf for major refit projects.
    .container
        .row
            .col-md-4.latest-news__item
                a(href="#").latest-news__image-wrap.news-link
                    img(src="img/upload/news-1.jpg" title="news" alt="news image").latest-news__image
                .latest-news__date.
                    June, 25, 2016
                a(href="#").latest-news__preview.
                    Successful Jongert Mallorca inauguration during Superyacht Cup
            .col-md-4.latest-news__item
                a(href="#").latest-news__image-wrap.news-link
                    img(src="img/upload/news-2.jpg" title="news" alt="news image").latest-news__image
                .latest-news__date.
                    June, 25, 2016
                a(href="#").latest-news__preview.
                    Tommy: 18 meters of distinctive Jongert Motor Yacht craftsmanship
            .col-md-4.latest-news__item
                a(href="#").latest-news__image-wrap.news-link
                    img(src="img/upload/news-3.jpg" title="news" alt="news image").latest-news__image
                .latest-news__date.
                    June, 25, 2016
                a(href="#").latest-news__preview.
                    Tommy: 18 meters of distinctive Jongert Motor Yacht craftsmanship
        a(href="#").btn-rnd.btn-rnd--gold.
            more news
