.traditional-head(style="background:url(img/upload/traditional.jpg) center center;background-size:cover;")
    .container
        .row
            .col-sm-11.col-sm-offset-1.col-xs-12
                .traditional-head__top-title.
                    Traditional
                .banner-title.banner-title--small.traditional-head__banner
                    span.
                        Sailing
                    span.
                        Yachts
                .text-dft.traditional-head__text.
                    A commitment to tradition.
                a(href="#").btn-rnd.btn-rnd.btn-rnd--blue.
                    Select your yacht
.timeline.section-dft
    .container
        .section-title.timeline__title.
            Jongert T Line
        .row
            .col-xl-6
                .text-dft-small.timeline__text.
                    Traditional values like seamanship are held in high esteem by ship owners. And among the owners of classical yachts from Jongert, tradition is writ large. The Jongert T Line has many tried-and-tested features that have proven their value over decades, if not centuries.
        .timeline__info-row.row
            .default-item.col-md-4
                .default-item__image-wrap
                    img(src="img/upload/news-1.jpg" alt="item image").default-item__image
                a(href="#").default-item__title.
                    31T
                .default-item__text.text-dft-small.
                    Circumnavigate the world and win regatta's along the way...
                a(href="#").default-item__link.
                    Details
            .default-item.col-md-4
                .default-item__image-wrap
                    img(src="img/upload/news-2.jpg" alt="item image").default-item__image
                a(href="#").default-item__title.
                    40T
                .default-item__text.text-dft-small.
                    Circumnavigate the world and win regatta's along the way...
                a(href="#").default-item__link.
                    Details
            .default-item.col-md-4
                .default-item__image-wrap
                    img(src="img/upload/news-3.jpg" alt="item image").default-item__image
                a(href="#").default-item__title.
                    47T
                .default-item__text.text-dft-small.
                    Circumnavigate the world and win regatta's along the way...
                a(href="#").default-item__link.
                    Details
    .container
        .section-title.section-title--gold.timeline__title.timeline__title--line.
            Traditional fleet
        .row
            .col-lg-6
                .text-dft-small.text-dft-small--gold.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. <br>
                    Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
        .timeline__main
            .row
                - for (var x = 0; x < 4; x++)
                    .timeline__main-item.clearfix
                        .timeline__main-item-wrapper.col-md-4
                            .timeline__main-image-wrap
                                img(src="img/upload/news-1.jpg" alt="item image").timeline__main-image
                                .timeline__main-item-name.
                                    40t
                            .timeline__main-name.text-dft.text-dft--gold.
                                Anna Christina
                        .timeline__year
                            span.
                                2001
                    .timeline__main-item.clearfix
                        .timeline__main-item-wrapper.col-md-4
                            .timeline__main-image-wrap
                                img(src="img/upload/news-2.jpg" alt="item image").timeline__main-image
                                .timeline__main-item-name.
                                    41tt
                            .timeline__main-name.text-dft.text-dft--gold.
                                Alme Sol
                        .timeline__year
                            span.
                                2003
.range.section-dft
    .container
        .section-title.section-title--white.range__title.
            Yachts range
        .row
            .default-item.col-md-4
                .default-item__image-wrap
                    img(src="img/upload/news-1.jpg" alt="item image").default-item__image
                a(href="#").default-item__title.default-item__title--white.
                    Perfomance
            .default-item.col-md-4
                .default-item__image-wrap
                    img(src="img/upload/news-2.jpg" alt="item image").default-item__image
                a(href="#").default-item__title.default-item__title--white.
                    Cruising
            .default-item.col-md-4
                .default-item__image-wrap
                    img(src="img/upload/news-3.jpg" alt="item image").default-item__image
                a(href="#").default-item__title.default-item__title--white.
                    Specials
