.search-results
    .container.search-results__container
        .search-results__search-form
            .search-results__search-form-group
                input(type="text" placeholder="Search").search-pop-up__input.gold
                button(type="submit").search-pop-up__submit
                    +icon ('search')
    .container
        .search-results__wrapper
            .search-results__title.
                Yachts
            .search-results__items-wrap
                .row
                    a(href="#").search-results__item.col-lg-2.col-md-4.col-sm-6
                        .search-results__item-image-wrap
                            span.search-results__item-name.sub-title.
                                45C Wellenreiter
                            img(src="img/upload/search-1.jpg").search-results__item-image
                    a(href="#").search-results__item.col-lg-2.col-md-4.col-sm-6
                        .search-results__item-image-wrap
                            span.search-results__item-name.sub-title.
                                34T
                            img(src="img/upload/search-2.jpg").search-results__item-image
                    a(href="#").search-results__item.col-lg-2.col-md-4.col-sm-6
                        .search-results__item-image-wrap
                            span.search-results__item-name.sub-title.
                                3200 Classic
                            img(src="img/upload/search-3.jpg").search-results__item-image
                    a(href="#").search-results__item.col-lg-2.col-md-4.col-sm-6
                        .search-results__item-image-wrap
                            span.search-results__item-name.sub-title.
                                2400 CR
                            img(src="img/upload/search-4.jpg").search-results__item-image
                    a(href="#").search-results__item.col-lg-2.col-md-4.col-sm-6
                        .search-results__item-image-wrap
                            span.search-results__item-name.sub-title.
                                45C Wellenreiter
                            img(src="img/upload/search-5.jpg").search-results__item-image
                    a(href="#").search-results__item.col-lg-2.col-md-4.col-sm-6
                        .search-results__item-image-wrap
                            span.search-results__item-name.sub-title.
                                34T
                            img(src="img/upload/search-6.jpg").search-results__item-image
                    a(href="#").search-results__item.col-lg-2.col-md-4.col-sm-6
                        .search-results__item-image-wrap
                            span.search-results__item-name.sub-title.
                                3200 Classic
                            img(src="img/upload/search-7.jpg").search-results__item-image
                    a(href="#").search-results__item.col-lg-2.col-md-4.col-sm-6
                        .search-results__item-image-wrap
                            span.search-results__item-name.sub-title.
                                2400 CR
                            img(src="img/upload/search-4.jpg").search-results__item-image

        .search-results__wrapper.search-results__wrapper--news
            .search-results__title.
                News
            .search-results__items-wrap
                .row
                    .col-md-4.latest-news__item.js-height
                        a(href="#").latest-news__image-wrap.news-link
                            img(src="img/upload/news-1.jpg" title="news" alt="news image").latest-news__image
                            span.latest-news__news-type.
                                news
                        .latest-news__date.
                            June, 25, 2016
                        a(href="#").latest-news__preview.
                            Successful Jongert Mallorca inauguration during Superyacht Cup
                    .col-md-4.latest-news__item.js-height
                        a(href="#").latest-news__image-wrap.videos
                            img(src="img/upload/news-2.jpg" title="news" alt="news image").latest-news__image
                            span.latest-news__news-type.
                                videos
                            span.latest-news__icon
                        .latest-news__date.
                            June, 25, 2016
                        a(href="#").latest-news__preview.
                            Tommy: 18 meters of distinctive Jongert Motor Yacht craftsmanship
                    .col-md-4.latest-news__item.js-height
                        a(href="#").latest-news__image-wrap.events
                            img(src="img/upload/news-3.jpg" title="news" alt="news image").latest-news__image
                            span.latest-news__news-type.
                                events
                            span.latest-news__events-info.
                                This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.
                            span.latest-news__events-format.
                                PDF
                        .latest-news__date.
                            June, 25, 2016
                        a(href="#").latest-news__preview.
                            Tommy: 18 meters of distinctive Jongert Motor Yacht craftsmanship
                    .col-md-4.latest-news__item.js-height
                        a(href="#").latest-news__image-wrap.news-link
                            img(src="img/upload/news-1.jpg" title="news" alt="news image").latest-news__image
                        .latest-news__date.
                            June, 25, 2016
                        a(href="#").latest-news__preview.
                            Successful Jongert Mallorca inauguration during Superyacht Cup
                    .col-md-4.latest-news__item.js-height
                        a(href="#").latest-news__image-wrap.news-link
                            img(src="img/upload/news-2.jpg" title="news" alt="news image").latest-news__image
                        .latest-news__date.
                            June, 25, 2016
                        a(href="#").latest-news__preview.
                            Tommy: 18 meters of distinctive Jongert Motor Yacht craftsmanship
        .search-results__wrapper
            .search-results__title.
                PAGES
            .search-results__items-wrap
                ul.search-results__pages-list
                    li.search-results__pages-item
                        span.search-results__pages-text.text-dft-small.
                            This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
                        a(href="#").search-results__pages-link.
                            jongert.nl/index.php/en
                    li.search-results__pages-item
                        span.search-results__pages-text.text-dft-small.
                            This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
                        a(href="#").search-results__pages-link.
                            jongert.nl/index.php/en
                    li.search-results__pages-item
                        span.search-results__pages-text.text-dft-small.
                            This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
                        a(href="#").search-results__pages-link.
                            jongert.nl/index.php/en
                    li.search-results__pages-item
                        span.search-results__pages-text.text-dft-small.
                            This is Photoshop's version  of Lorem Ipsum.
                        a(href="#").search-results__pages-link.
                            jongert.nl/index.php/en
