.share-in-socials
    .share-in-socials__title Share in socials
    ul.share-in-socials__inner
        li.share-in-socials__item
            a(href="#")
                +icon ('facebook')
        li.share-in-socials__item
            a(href="#")
                +icon ('tweater')
        li.share-in-socials__item
            a(href="#")
                +icon ('linkedin')